<!-- Extends main.html file -->
{% extends "../../Main/main.html" %}

{% block content %}

<!-- Main Section -->
<main class="formPage my-xl">
	<div class="content-box">
		<div class="formWrapper">
			<a class="backButton" href="#"><i class="im im-angle-left"></i></a>
			<br>

			<form method="POST" enctype="multipart/form-data" class="form">
				<h2>Create New Project</h2>
				{% csrf_token %}
				<!-- Loop through the form and render input tag of the form. -->
				{% for item in form %}
				<div class="form__field">
					<!-- Label of each input tag -->
					<label for="formInput#text">{{item.label}}</label>
					<!-- Input field -->
					{{item}}
				</div>
				{% endfor %}
				<input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
			</form>
		</div>
	</div>
</main>

{% endblock content %}