{% extends "../../../Main/main.html" %}

{% block content %}
<main class="formPage my-xl">
	<div class="content-box">
		<div class="formWrapper">
			<a class="backButton" href="{% url 'user_account' %}"><i class="im im-angle-left"></i></a>
			<br>
			<!-- Heading of the form. -->
			<form class="form" method="POST">
				{% csrf_token %}
				{% for field in form %}
				<div class="form__field">
					<!-- Django form label -->
					<label for="formInput#text">{{field.label}}</label>
					<!-- Input field -->
					{{field}}
				</div>
				{% endfor %}
				<!-- Add or update button -->
				{% if edit %}
				<input type="submit" class="btn btn--sub btn--lg" value="Update">
				{% else %}
				<input type="submit" class="btn btn--sub btn--lg" value="Add">
				{% endif %}
				{% if otherSkill %}
				<!-- Delete button -->
				<a class="btn btn--sub btn--lg" href="{% url 'delete_skill' skill_id %}" style="padding: 0.63em 2.2em">Delete</a>
				{% endif %}
			</form>
		</div>
	</div>
</main>

{% endblock %}