<!-- Extending main template -->
{% extends '../../../Main/main.html' %}

{% block content %}
<main class="formPage my-xl">
	<div class="content-box">
		<div class="formWrapper">
			<a class="backButton" href="{% url 'user_account' %}"><i class="im im-angle-left"></i></a>
			<br>
			<!-- Heading of the form. -->
			<h2>Edit Account Info.</h2>
			<form class="form" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				{% for field in form %}
				<div class="form__field">
					<!-- Django form label -->
					<label for="formInput#text">{{field.label}}</label>
					<!-- Input field -->
					{{field}}
				</div>
				{% endfor %}
				<!-- Update button -->
				<input type="submit" class="btn btn--sub btn--lg" value="Update">
			</form>
		</div>
	</div>
</main>

{% endblock %}