{% extends '../../Main/main.html' %}

{% block content %}

<!-- If there is a login page then Show Login form else registration form -->
{% if login %}
<form method="POST">
	{% csrf_token %}
	username: <input type="text" name="username">
	<br>
	Password: <input type="password" name="password">
	<br>
	<button type="submit" class="btn btn-primary">Submit</button>

	<p>Don't have an account?<a href="{% url 'user_register' %}">Sign up.</a></p>
</form>
{% else %}
<form method="POST">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Submit">
	<p>Already have an account?<a href="{% url 'user_login' %}">Log in.</a></p>
</form>
{% endif %}

{% endblock %}