<!-- Extending main html template -->
{% extends '../../Main/main.html' %}
{% load static %}

{% block content %}

<!-- If there is a login page then Show Login form else registration form -->
{% if login %}
<div class="auth auth_login">
	<div class="card">
		<div class="auth__header text-center">
			<a href="/">
				<!-- Logo -->
				<img src="{% static 'Images/Logo/LoginPageLogo.png' %}" alt="icon" style="height: 5rem;" />
			</a>
			<h3>Account Login</h3>
			<p>Hello Developer, Welcome Back!</p>
		</div>

		<form method="POST" class="form auth__form">
			{% csrf_token %}
			<!-- Input:username -->
			<div class="form__field">
				<label for="formInput#text">Username: </label>
				<input class="input input--text" id="formInput#text" type="text" name="username"
					placeholder="Enter your username..." required />
			</div>

			<!-- Input:Password -->
			<div class="form__field">
				<label for="formInput#password">Password: </label>
				<input class="input input--password" id="formInput#passowrd" type="password" name="password"
					placeholder="••••••••" required />
			</div>
			<div class="auth__actions">
				<input class="btn btn--sub btn--lg" type="submit" value="Log In" />
				<a href="/user/forgot_password">Forget Password?</a>
			</div>
		</form>
		<div class="auth__alternative">
			<p>Don’t have an Account?</p>
			<a href="{% url 'user_register' %}">Sign Up</a>
		</div>
	</div>
</div>

{% else %}

<div class="auth">
	<div class="card">
		<div class="auth__header text-center">
			<a href="/">
				<img src="{% static 'Images/Logo/LoginPageLogo.png' %}" alt="icon" style="height: 5rem;" />
			</a>
			<h3>Account SignUp</h3>
			<p>Create a new developer account</p>
		</div>

		<form method="POST">
			{% csrf_token %}

			<!-- Registration django form -->
			{% for field in form %}
			<div class="form__field">
				<!-- Django form label -->
				<label for="formInput#text">{{field.label}}</label>
				<!-- Input field -->
				{{field}}
			</div>
			{% endfor %}
			<!-- Submit button -->
			<div class="auth__actions">
				<input class="btn btn--sub btn--lg" type="submit" value="Sign  In" />
			</div>
		</form>
		<!-- If user already have an account then go to log in user. -->
		<div class="auth__alternative">
			<p>Already have an Account?</p>
			<a href="{% url 'user_login' %}">Log In</a>
		</div>
	</div>
</div>
{% endif %}

{% endblock %}