<!-- Render all the projects that we get from DB -->
<!-- Main template -->
{% extends "../../Main/main.html" %}

{% block content %}

<!-- Main Section -->
<main class="projects">
	<!-- Title of the page. -->
	<section class="hero-section text-center">
		<div class="container container--narrow">
			<div class="hero-section__box">
				<h2>Search for <span>Projects</span></h2>
			</div>

			<div class="hero-section__search">
				<form class="form" method="get">
					<div class="form__field">
						<label for="formInput#search">Search By Projects </label>
						{% if search == '' %}
						<input class="input input--text" id="formInput#search" type="text" name="search"
							placeholder="Search by Project..." />
						{% else %}
						<input class="input input--text" id="formInput#search" type="text" name="search"
							value="{{search}}" />
						{% endif %}
					</div>

					<input class="btn btn--sub btn--lg" type="submit" value="Search" />
				</form>
			</div>
		</div>
	</section>
	<!-- Search Result: DevList -->
	<section class="projectsList">
		<div class="container">
			<div class="grid grid--three">
				<!-- Loop through the list of objects of developers. -->
				{% for project in allProjects %}
				<div class="column">
					<div class="card project">
						<!-- Making card as an url to redirect to specific_project. -->
						<a href="{% url 'specific_project' project.id %}" class="project">
							<!-- Project Image -->
							<img class="project__thumbnail" src="{{ project.project_image.url }}" alt={{project}} />
							<div class="card__body">
								<!-- Project title. -->
								<h3 class="project__title">{{project.project_title}}</h3>
								<!-- Project Owner -->
								<p><a class="project__author"
										href="{% url 'user_profile' project.project_owner.id %}">By
										{{project.project_owner}}</a></p>
								<!-- Total project positive vote ratio -->
								<p class="project--rating">
									<span style="font-weight: bold;">{{project.vote_ratio}}%</span> Postitive
									<!-- if total project votes is 0 or 1 then render Vote otherwise, Votes -->
									{% if project.total_votes == 1 or project.total_votes == 0 %}
									Feedback ({{project.total_votes}} Vote)
									{% else %}
									Feedback ({{project.total_votes}} Votes)
									{% endif %}
								</p>

								<!-- Total skills in the project. -->
								<div class="project__tags">
									{% for tag in project.project_skills.all %}
									<span class="tag tag--pill tag--main">
										<small>{{tag}}</small>
									</span>
									{% endfor %}
								</div>
							</div>
						</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		{% include '../../Layout/Paginator/paginator.html' with search=search %}
	</section>
</main>

{% endblock content %}