<!-- Render all the projects that we get from DB -->
<!-- Main template -->
{% extends "../../Main/main.html" %}
{% load static %}

{% block content %}
<main class="singleProject my-md">
	<div class="container">
		<div class="layout">
			<div class="column column--1of3">
				<h3 class="singleProject__subtitle">Tools & Stacks</h3>
				<!-- Skills of the project -->
				<div class="singleProject__toolStack">
					{% for tag in specific_project.project_skills.all %}
					<span class="tag tag--pill tag--sub tag--lg">
						<small>{{tag}}</small>
					</span>
					{% endfor %}
				</div>
				<div>
					<!-- If there is source code of the project then create a link to redirect to source code. -->
					{% if specific_project.source_code %}
					<a class="singleProject__liveLink" href="{{specific_project.source_code}}" target="_blank"><i
							class="im im-external-link"></i>Source
						Code
					</a>
					{% endif %}
				</div>
				<br>
				<div>
					<!-- If there is link of the project demo then create a link to redirect to project demo. -->
					{% if specific_project.project_demo %}
					<a class="singleProject__liveLink" href="{{specific_project.project_demo}}" target="_blank"><i
							class="im im-external-link"></i> Project Demo
					</a>
					{% endif %}
				</div>
			</div>
			<div class="column column--2of3">
				<!-- Project Image -->
				<img class="singleProject__preview" src="{{ specific_project.project_image.url }}" alt="portfolio thumbnail" />
				<!-- redirect to the profile of project owner -->
				<a href="{% url 'user_profile' specific_project.project_owner.id %}" class="singleProject__developer">{{specific_project.project_owner}}</a>
				<!-- Project title -->
				<h2 class="singleProject__title">{{specific_project.project_title}}</h2>
				<h3 class="singleProject__subtitle">About the Project</h3>
				<!-- Project description -->
				<div class="singleProject__info">
					{{specific_project.project_description}}
				</div>

				<div class="comments">
					<h3 class="singleProject__subtitle">Feedback</h3>
					<!-- Total positive vote ratio and total votes of the project. -->
					<h5 class="project--rating">
						{{specific_project.vote_ratio}}% Postitive Feedback ({{specific_project.total_votes}} {% if specific_project.total_votes == 0 or specific_project.total_votes == 1 %} Vote{% else %} Votes{% endif %})
					</h5>

					<!-- Submit Comment... -->
					<!-- If user is not logged in then Ask to login -->
					{% if request.user.is_authenticated == False %}
					<p class="singleProject">Please <a href="{% url 'user_login' %}">Login</a> to submit a comment.</p>
					<!-- If user is an owner of the project, then he cannot submit a comment on project. -->
					{% elif profile.id == specific_project.project_owner.id %}
					<p class="singleProject">You can't submit a comment on your own project.</p>
					<!-- If user commented one time, then they cannot comment again. -->
					{% elif profile.id in review_owners %}
					<p class="singleProject">You have already submitted a comment on this project.</p>
					{% else %}
					<form class="form" method="POST">
						{% csrf_token %}
						<!-- Textarea -->
						{% for field in form %}
						<div class="form__field">
							<label for="formInput#textarea">{{field.label}}</label>
							{{field}}
						</div>
						{% endfor %}
						<!-- Submit button. -->
						<input class="btn btn--sub btn--lg" type="submit" value="Add" />
					</form>
					{% endif %}
					<!-- Loop through all the reviews of the project. -->
					{% for review in specific_project.project_reviews.all %}
					<div class="commentList">
						<div class="comment">
							<!-- Reviewer image. -->
							<a href="{% url 'user_profile' review.reviewer.id %}">
								<img class="avatar avatar--md"
									src="{{ review.reviewer.image.url }}"
									alt="user" />
							</a>
							<!-- Reviewer name and that lead to the user profile. -->
							<div class="comment__details">
								<a href="{% url 'user_profile' review.reviewer.id %}" class="comment__author">{{review.reviewer.first_name}} {{review.reviewer.last_name}}</a>
								<!-- Comment on the Project. -->
								<p class="comment__info">
									{{ review.review_body|linebreaksbr }}
								</p>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	</div>
</main>
{% endblock content %}