<!-- Extending main html file. -->
{% extends '../../Main/main.html' %}

{% block content %}

<!-- Style of password field. -->
<style>
	input[type="password"] {
		min-width: 24rem;
		width: 100%;
		padding: 1.2rem 1.5rem;
		border-radius: 0.5rem;
		border: 2px solid var(--color-light);
		transition: all 0.3s ease-in-out;
		background-color: var(--color-bg);
	}
	input[type="password"]:focus,
	input[type="password"]:active {	
		outline: none;
		border: 2px solid var(--color-main);
	}

</style>

<main class="formPage my-xl">
	<div class="content-box">
		<div class="formWrapper">
			<!-- Heading and paragraph. -->
			<h2>Enter new password</h2>
			<p>Please enter your new password twice so we can verify you typed it in correctly.
			</p>

			<!-- Form to enter and submit new password. -->
			<form class="form" method="POST">
				{% csrf_token %}
				{% for field in form %}
				<!-- Input:Text -->
				<div class="form__field">
					<label for="formInput#text">{{field.label}}: </label>
					{{field}}
				</div>
				{% endfor %}
				<input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
			</form>
		</div>
	</div>
</main>

{% endblock %}