<!-- Extending main html file. -->
{% extends '../../Main/main.html' %}

{% block content %}

<!-- Style of an email field. -->
<style>
	input[type="email"] {
		min-width: 24rem;
		width: 100%;
		padding: 1.2rem 1.5rem;
		border-radius: 0.5rem;
		border: 2px solid var(--color-light);
		transition: all 0.3s ease-in-out;
		background-color: var(--color-bg);
	}
	input[type="email"]:focus,
	input[type="email"]:active {	
		outline: none;
		border: 2px solid var(--color-main);
	}
</style>

<main class="formPage my-xl">
	<div class="content-box">
		<div class="formWrapper">
			<!-- back-button -->
			<a class="backButton" href="{% url 'user_login' %}"><i class="im im-angle-left"></i></a>
			<br>
			<!-- Heading and paragraph. -->
			<h2>Password reset</h2>
			<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new
				one.
			</p>

			<!-- Form to submit an email of an account. -->
			<form class="form" method="POST">
				{% csrf_token %}
				{% for field in form %}
				<!-- Input:Text -->
				<div class="form__field">
					<label for="formInput#text">{{field.label}}: </label>
					{{field}}
				</div>
				{% endfor %}
				<input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
			</form>
		</div>
	</div>
</main>

{% endblock %}