<!-- Extending main html file. -->
{% extends '../../Main/main.html' %}

{% block content %}

<main class="formPage my-xl">
	<div class="content-box">
		<div class="formWrapper">
			<br>
			<!-- Heading and paragraph. -->
			<h2>Password reset complete</h2>
			<p>Your password has been set. You may go ahead and log in now.
			</p>
			<!-- Link for user to login. -->
			<a href="{% url 'user_login' %}"><input class="btn btn--sub btn--lg  my-md" type="button" value="Login" /></a>
		</div>
	</div>
</main>

{% endblock %}