<!-- Extending main html template -->
{% extends '../../Main/main.html' %}

{% block content %}
<main class="settingsPage profile my-md">
	<div class="container">
		<div class="layout">
			<div class="column column--1of3">
				<div class="card text-center">
					<div class="card__body dev">
						<!-- Redirect to the page where user can edit their main information -->
						<a class="tag tag--pill tag--main settings__btn" href="{% url 'edit_account' %}"><i
								class="im im-edit"></i> Edit</a>
						<!-- User Image -->
						<img class="avatar avatar--xl dev__avatar" src="{{user.imageURL}}" />
						<!-- User name -->
						<h2 class="dev__name">{{user.first_name}} {{user.last_name}}</h2>
						<!-- Profession of the user -->
						<p class="dev__title">{{user.profession}}</p>
						<!-- If user have location then show the location -->
						{% if user.location %}
						<p class="dev__location">Based in {{user.location}}</p>
						{% endif %}
						<!-- If user have social media links then show it otherwise not. -->
						<ul class="dev__social">
							{% if user.github %}
							<li>
								<a title="Github" href="{{user.github}}" target="_blank"><i
										class="im im-github"></i></a>
							</li>
							{% endif %}
							{% if user.twitter %}
							<li>
								<a title="Twitter" href="{{user.twitter}}" target="_blank"><i
										class="im im-twitter"></i></a>
							</li>
							{% endif %}
							{% if user.linkedin %}
							<li>
								<a title="LinkedIn" href="{{user.linkedin}}" target="_blank"><i
										class="im im-linkedin"></i></a>
							</li>
							{% endif %}
							{% if user.youtube %}
							<li>
								<a title="Youtube" href="{{user.youtube}}" target="_blank"><i
										class="im im-youtube"></i></a>
							</li>
							{% endif %}
							{% if user.website %}
							<li>
								<a title="Personal Website" href="{{user.website}}" target="_blank"><i
										class="im im-globe"></i></a>
							</li>
							{% endif %}
						</ul>
					</div>
				</div>
				<a class="singleProject__liveLink" href="{% url 'deleteAccount' %}"><i
					class="im im-external-link"></i>Delete Account
			</a>
			</div>

			<div class="column column--2of3">
				<!-- User bio -->
				<div class="devInfo">
					<h3 class="devInfo__title">About Me</h3>
					<p class="devInfo__about">
						{{user.bio}}
					</p>
				</div>

				<!-- Skills Heading of top skills -->
				<div class="settings">
					<h3 class="settings__title">Skills</h3>
					<a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'add_top_skill' %}"><i
							class="im im-plus"></i> Add
						Skill</a>
				</div>

				<!-- Skills with the description -->
				<table class="settings__table">
					<!-- Top skills of the user -->
					{% for skill in topSkills %}
					<tr>
						<td class="settings__tableInfo">
							<!-- Skill name -->
							<h4>{{skill.name}}</h4>
							<!-- Skill description -->
							<p>
								{{skill.description}}
							</p>
						</td>
						<td class="settings__tableActions">
							<a class="tag tag--pill tag--main settings__btn" href="{% url 'edit_top_skill' skill.id %}"><i class="im im-edit"></i>
								Edit</a>
							<a class="tag tag--pill tag--main settings__btn" href="{% url 'delete_skill' skill.id %}"><i
									class="im im-x-mark-circle-o"></i>
								Delete</a>
						</td>
					</tr>
					{% endfor %}
				</table>
				<table class="settings__table">
					<div class="settings">
						<!-- Heading of other skills -->
						<h3 class="settings__title">Other Skills</h3>
						<a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'add_other_skill' %}"><i
								class="im im-plus"></i> Add
							Skill</a>
					</div>
					<br>
					<!-- Other skills only with tag not description -->
					<div class="devInfo__otherSkills">
						{% for skill in otherSkills %}
						<a href="{% url 'edit_other_skill' skill.id %}">
							<span class="tag tag--pill tag--sub tag--lg">
								<small>{{skill}}</small>
							</span>
						</a>
						{% endfor %}
					</div>
				</table>

				<!-- Projects heading -->
				<div class="settings">
					<h3 class="settings__title">Projects</h3>
					<a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'create_project' %}"><i
							class="im im-plus"></i> Add
						Project</a>
				</div>

				<!-- Projects -->
				<table class="settings__table">
					{% for project in projects %}
					<tr>
						<td class="settings__thumbnail">
							<!-- Project Image -->
							<a href="{% url 'specific_project' project.id %}"><img src="{{ project.imageURL }}"
									alt={{project.project_title}} /></a>
						</td>
						<td class="settings__tableInfo">
							<!-- Project title redirect to the project it-self -->
							<a href="{% url 'specific_project' project.id %}">{{project.project_title}}</a>
							<!-- Project description -->
							<p>
								{{project.project_description|slice:150}}
							</p>
						</td>
						<td class="settings__tableActions">
							<a class="tag tag--pill tag--main settings__btn"
								href="{% url 'update_project' project.id %}"><i class="im im-edit"></i>
								Edit</a>
							<a class="tag tag--pill tag--main settings__btn"
								href="{% url 'delete_project' project.id %}"><i class="im im-x-mark-circle-o"></i>
								Delete</a>
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</main>

{% endblock %}